{# Blog bundle index template #}
{# 继承blog bundle布局 #}
{% extends "BlogBundle::layout.html.twig" %}

{% block title %}
    {# rendering the parent's title block after "Welcome" #}
    Welcome - {{ parent() }} 
{% endblock %}

{% block blog_body %}
    
    <h2>Article list</h2>
    
    <ul>
        {% for article in articles %}
            <li>
                <a href="{{ path('blog_read', {'id': article.id}) }}">{{ article.title }}</a>
                by {{ article.author }},
                date of {{ article.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>No article found</li>
        {% endfor %}
    </ul>
    
{% endblock %}

