{# Blog bundle index template #}

{% extends "BlogBundle::layout.html.twig" %}

{% block title %}
    Welcome - {{ parent() }}
{% endblock %}

{% block blog_body %}
    
    <h2>Article list</h2>
    
    <ul>
        {% for article in articles %}
            <li>
                <a href="{{ path('blog_read', {'id': article.id}) }}">{{ article.title }}</a>
                par {{ article.auteur }},
                le {{ article.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Pas (encore !) d'articles</li>
        {% endfor %}
    </ul>
    
{% endblock %}

