{# read blog article template #}

{% extends "BlogBundle::layout.html.twig" %}

{% block title %}
Read an article - {{ parent() }}
{% endblock %}

{% block blog_body %}
<h2>{{ article.title }}</h2>
<i>Par {{ article.auteur }}, le {{ article.date|date('d/m/Y') }}</i>

<div class="well">
 {{ article.contenu }}
</div>

<p>
    <a href="{{ path('blog_index') }}" class="btn">
        <i class="icon-chevron-left"></i>
        Return to list
    </a>
    <a href="{{ path('blog_modify', {'id': article.id}) }}"  class="btn">
        <i class="icon-edit"></i>
        Modify article
    </a>
    <a href="{{ path('blog_delete', {'id': article.id}) }}" class="btn">
        <i class="icon-trash"></i>
        Delete article
    </a>
</p>

{% endblock %}